h1{
    font-family: 'Potta One';
    font-size: 70px;
    padding-left: 20px;
    margin: 0px;
    background-color: #cc1a38; 
    color: #f6d400;
}
.banner{
    background-color: #cc1a38; 
    color: #f6d400;  
    font-size: 40px;
    padding: 0;
    margin: 0;
    font-family:'Poppins';
    border:none;
    font-weight: bold;
    display:flex;
    justify-content: space-around;
}
a:link{
    color:#f6d400;
    text-decoration: none;
}
hr{
    background-color:#f6d400;
    border: 5px solid #f6d400;
    margin: 0;
}
#banner-image{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    object-fit: cover;
}
#banner-image img{
    width:1550px;
    height:300px;
    object-fit: cover;
}
#search-bar{
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    width:300px;
    height: 30px;
    border-radius:25px;
}
#sign-in
{
    float: right;
    display: flex;
    justify-content: flex-end;
    background-color: #cc1a38; 
    color: #f6d400;  
    font-size: 40px;
    padding: 0;
    margin: 0;
    margin-right:24px;
    margin-top:1%;
    font-family:'Poppins';
    border:none;
    font-weight: bold;
}
#pickOfWeek
{
    font-family:'Poppins';   
    background-color: #cc1a38; 
    color: #f6d400;  
    font-size: 40px;
    width:60%;
    height: 100px;
    text-align: center;
    padding:0%;
    margin-right: auto;
    margin-left: auto;
}
.text-block
{
    top: 300px;
    right: 10%;
    width: 400px;
    text-align: center;
    font-size: 70px;
    background-color:#cc1a38;
    color:#f6d400;
    padding-left: 20px;
    padding-right: 20px;
}
.containerOne
{
    position: relative;
    border: #cc1a38;
    border-width: 2px;
}
.container
{
    position: relative;
    background-color: #cc1a38;
    margin: 9%;
    padding: 8px 8px 8px 8px;
    border:#f6d400;
    border-radius: 6px 6px 6px 6px;
    width: fit-content;
    float: left;
}
h2
{
    font-family: "Poppins";
}
h3
{
    width: 300px;
    height: 37px;
    color: #f6d400;
    font-family: "Poppins";
    font-weight:bolder;
    font-size: 30px;
    margin: 15px;
    line-height: 1.5;
    text-align: left;
}
h4
{
    display: flex;
    justify-content: center;
    color: #f6d400;
    font-family: "Poppins";
    font-weight:bolder;
    font-size: 50px;
}
h5
{
    color: #f6d400;
    font-family: "Poppins";
    font-style: italic;
    font-size: 20px;
    margin-bottom: 5px;
    margin-top: 5px;
}
#bestseller
{
    font-family:'Poppins';   
    background-color:#f6d400; 
    color:#cc1a38;  
    width:400px;
    height:100px;

}
.item-heading{
    text-align: center;
    font-size: 35px;
    font-family: 'Poppins';
    background-color: #cc1a38; 
    color: #f6d400;
    margin: 20px 150px;
    font-weight: bold;
    border-radius: 5px;
    height: 50px;
}

.input-box{
    width:65%;
    height: 20px;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 15px;
    display:block;
    
}
fieldset{
    width:100%;
    height:500%;
    margin-left: 15%;
    font-size: 20px;
    font-family: 'Poppins';
    font-weight: bold;
    border: none;
}
label{
    display: block;
    margin-top: 1em;
}
#submit-button{
    margin-top: 30px;
    margin-left: 10%;
    border-radius: 15px;
    background-color: #cc1a38;
    color: #f6d400;
    font-size: 20px;
    font-family: 'Poppins';
    width:35%;
    height: 50px;
    font-weight: bold;
}
#icon-text {
    display:flex;
    text-align: center;
    margin-right:25%;
    margin-top: 10%;
    background-color: #cc1a38;
    font-family: 'Potta One';
    font-size: 70px;
    color: #ffd783;
    width: 20%;
    height:20%;
    padding: 50px;
}
.form-content{
    display:flex;
}